body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(25, 25, 39);
  color: whitesmoke;
}

.title {
  font-weight: bold;
  font-size: 42px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: calc(16 * 30px);
  margin: 12px;
}

.grid_element {
  background-color: whitesmoke;
}

button {
  margin-top: 70px;
  height: 60px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: rgba(75, 138, 233, 0.877);
  color: aliceblue;
}